.addStar {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: -5px;
}

.rightSideBlock {
  padding-top: 10px;
}

.divInfo div p {
  width: 70px;
  display: inline-block;
}

.info {
  margin-left: 50px;
  width: 150px !important;
}

.notificationWindow {
  z-index: 10;
  background-color: white;
  margin-top: 7%;
  margin-left: 30%;
  width: 400px;
  height: 250px;
  border: 1px solid black;
  position: absolute;
  border-radius: 10px;
}

.closeDiv {
  margin-top: 5px;
  margin-right: -10px;
  font-size: 17px;
  float: right;
  cursor: pointer;
}

.notificationButton {
  margin-top: 10px;
  margin-left: 100px;
  width: 100px;
}

.notificationInput {
  margin-bottom: 10px !important;
  font-size: 20px;
}

.notificationSmallInput {
  width: 100px;
}

.notificationBigInput {
  margin-left: 15px;
  width: 250px;
}

.tab {
  cursor: pointer;
}

.tabsRow {
  margin-top: 20px;
}

.walletsTableTh {
  margin-top: -40px;
}

.sortLink {
  color: #0645AD;
  cursor: pointer;
}

.sortLink span {
  font-size: 10px;
}

.warnMessage {
  background-color: rgba(255, 0, 0, 0.2);
  color: black;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 10px;
  padding-top: 9px;
  width: 195px;
}

@media screen and (max-width: 992px) {
  .warnMessage {
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 10px;
    padding-bottom: 1px;
    width: 195px;
  }
}

