<div class="row">
  <div class="col-md-12">

    <form #myForm="ngForm" novalidate (ngSubmit)="search(myForm)" class="inputForm">

      <div class="btn-toolbar">

        <div class="input-group">
          <input class="form-control searchField" name="searchString" placeholder="Wallet/ICO Address/Name" trim ngModel required />
        </div>

        <div class="btn-group">
          <button type="submit" [disabled]="myForm.invalid" class="btn btn-secondary">Search</button>
        </div>

      </div>

    </form>
  </div>
</div>


