.searchField {
  width: 380px;
}

.inputForm {
  margin-top: 20%;
  margin-left: 29%;
}

@media screen and (max-width: 992px) {
  .inputForm {
    margin-top: 20%;
    margin-left: 25%;
  }

  .searchField {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .inputForm {
    margin-top: 20%;
    margin-left: 20%;
  }

  .searchField {
    width: 250px;
  }
}
