.confMessage {
  background-color: rgba(0, 255, 0, 0.2);
  color: black;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 35%;
  padding-top: 9px;
  width: 330px;
}

@media screen and (max-width: 600px) {
  .confMessage {
    background-color: rgba(0, 255, 0, 0.2);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 0pc;
    padding-bottom: 1px;
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .confMessage {
    background-color: rgba(0, 255, 0, 0.2);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 30%;
    padding-bottom: 1px;
    width: 300px;
  }
}
