<div class="col-md-4 col-md-offset-4">
  <h2>Forgot Password</h2>

  <form #myForm="ngForm" novalidate (ngSubmit)="forgotPass(myForm)">

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" name="email" placeholder="Email" ngModel required email/>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="myForm.invalid|| isRequesting" class="btn btn-primary">Send</button>
    </div>
    <div *ngIf="errors" class="alert alert-danger" role="alert">
      {{errors}}
    </div>

  </form>
</div>
